@import url("https://fonts.googleapis.com/css2?family=DM%20Serif%20Display:wght@400&display=swap");* {
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
select,
option {
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
address {
	font-style: normal;
}
@font-face {font-family: Poppins;font-display: swap;src: url("../assets/fonts/Poppins-SemiBold.woff2") format("woff2");font-weight: 600;font-style: normal;}
@font-face {font-family: Poppins;font-display: swap;src: url("../assets/fonts/Poppins-Regular.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: Poppins;font-display: swap;src: url("../assets/fonts/Poppins-Medium.woff2") format("woff2");font-weight: 500;font-style: normal;}
@font-face {font-family: Poppins;font-display: swap;src: url("../assets/fonts/Poppins-Bold.woff2") format("woff2");font-weight: 700;font-style: normal;}
@font-face {font-family: OPTIDanley;font-display: swap;src: url("../assets/fonts/OPTIDanley-Bold.woff2") format("woff2");font-weight: 700;font-style: normal;}

/* Generated by vite-plugin-svg-spritemap */
:root {
  --text-primary: #000000;
  --text-accent: #5D9CE5;
  --text-dark-accent: #003F88;
  --text-light-accent: #9AC9FF;
  --text-grey: #747474;
  --text-white: #ffffff;
  --button-primary: #009DFF;
  --button-primary-hover: #003F88;
  --button-secondary: #59E37B;
  --background-header: #FFFFFF;
  --background-primary: #F5F6F7;
  --background-secondary: #F0F7FF;
  --background-accent: #9AC9FF;
  --border-color: #DCDCDC;
}
body {
  min-width: 20rem;
  color: var(--text-primary);
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  background-color: var(--background-primary);
}
[data-fls-scrolllock] body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}
[class*=__container] {
  max-width: 91.0625rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}
[class$=__container--small] {
  max-width: 58.125rem;
  margin-inline: 0 auto;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img:nth-child(1) {
  width: 2.5rem;
  aspect-ratio: 1;
}
.logo img:nth-child(2) {
  width: 3.90625rem;
  aspect-ratio: 2/1;
}
.post-scriptum {
  color: var(--text-accent);
}/* Generated by vite-plugin-svg-spritemap */
.menu {
  display: flex;
  align-items: center;
  column-gap: 2.5rem;
}
.menu__body {
  overflow: hidden;
}
.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 0.3125rem;
  transform: translateX(100%);
  transition: transform 0.3s;
}
[data-fls-menu-open] .menu__list {
  transform: translateX(0);
}
.menu__link {
  font-size: 1.125rem;
  line-height: 1.5;
  transition: color 0.3s ease;
}
.menu__link--active {
  font-weight: 700;
}

.icon-menu {
  display: block;
  position: relative;
  z-index: 5;
}
.icon-menu span, .icon-menu::before, .icon-menu::after {
  content: "";
  transition: all 0.3s ease 0s;
  right: 0;
  position: absolute;
  width: 100%;
  height: 0.1875rem;
  background-color: #000;
}
.icon-menu::before {
  top: 0;
}
.icon-menu::after {
  bottom: 0;
}
.icon-menu span {
  top: calc(50% - 0.09375rem);
}
[data-fls-menu-open] .icon-menu span {
  width: 0;
}
[data-fls-menu-open] .icon-menu::before {
  top: calc(50% - 0.09375rem);
  transform: rotate(-45deg);
}
[data-fls-menu-open] .icon-menu::after {
  bottom: calc(50% - 0.09375rem);
  transform: rotate(45deg);
}/* Generated by vite-plugin-svg-spritemap */
.header {
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: var(--background-header);
}
.header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.0625rem;
  background-color: var(--border-color);
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  position: relative;
  z-index: 3;
}
.header__logo img:nth-child(1) {
  aspect-ratio: 1;
}
.header__logo img:nth-child(2) {
  aspect-ratio: 2/1;
}/* Generated by vite-plugin-svg-spritemap */
.footer__container {
  line-height: 1.5;
  color: var(--text-grey);
}
.footer__body {
  padding-block: 2.5rem;
  border-bottom: 0.0625rem solid var(--border-color);
}
.footer__list {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
}
.footer__item {
  display: flex;
  flex-direction: column;
}
.footer__text {
  flex-grow: 1;
}
.footer__title {
  font-size: 1.25rem;
  color: var(--text-primary);
  font-weight: 700;
}
.footer__links {
  display: grid;
  gap: 0.75rem;
}
.footer__link {
  transition: color 0.3s ease;
}
.footer__copy {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.25rem;
  padding-block: 1.875rem 1.5rem;
}

.copy-footer__info {
  color: var(--text-primary);
  display: flex;
}
.copy-footer__info a {
  transition: color 0.3s ease;
}
.copy-footer__info a:nth-child(n+2)::before {
  content: "|";
  color: var(--text-primary);
}

.socials__list {
  display: flex;
}/* Generated by vite-plugin-svg-spritemap */@media (width <= 62.06125em){
  .footer__list {
    grid-template-columns: repeat(4, 1fr);
  }
  .footer__list .footer__item:nth-child(1) {
    grid-column: 1/-1;
    justify-self: center;
    text-align: center;
    margin-bottom: 2.4em;
  }
  .footer__logo {
    justify-content: center;
  }
}@media (max-width: 47.99875em){
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100svh;
    left: -100%;
    top: 0;
    overflow: auto;
    background-color: var(--background-accent);
    padding: 6.25rem 0.9375rem 1.875rem 0.9375rem;
    transition: left 0.3s;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    background-color: var(--background-accent);
    transition: left 0.3s;
    z-index: 2;
  }
  [data-fls-menu-open] .menu__body {
    left: 0;
  }
  [data-fls-menu-open] .menu__body::before {
    left: 0;
  }
  .menu__list {
    flex-direction: column;
    align-items: flex-end;
    row-gap: 2.5rem;
  }
  .menu__link {
    font-size: 2rem;
  }
  .footer__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer__copy {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .copy-footer__info {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}@media (width <= 20em){
  .logo {
    column-gap: 1.5rem;
  }
  .post-scriptum {
    font-size: 0.75rem;
  }
  .menu__list {
    column-gap: 1.25rem;
  }
  .icon-menu {
    width: 1.875rem;
  }
  .icon-menu {
    height: 1.3125rem;
  }
  .header {
    padding-block: 0.9375rem;
  }
  .header__logo img:nth-child(1) {
    width: 1.6875rem;
  }
  .header__logo img:nth-child(2) {
    width: 2.625rem;
  }
  .footer__container {
    font-size: 1rem;
  }
  .footer__list {
    gap: 1.25rem;
  }
  .footer__item {
    gap: 0.75rem;
  }
  .footer__copy {
    font-size: 1rem;
  }
  .copy-footer__info {
    gap: 0.5rem;
  }
  .copy-footer__info a:nth-child(n+2)::before {
    margin-inline: 0.5rem;
  }
}@media (width > 20em) and (width <= 91.0625em){
  .logo {
    column-gap: clamp( 1.5rem , 1.2185576077375rem  +  1.4072119613vw , 2.5rem );
  }
  .post-scriptum {
    font-size: clamp( 0.75rem , 0.60927880386875rem  +  0.7036059807vw , 1.25rem );
  }
  .menu__list {
    column-gap: clamp( 1.25rem , 0.898197009675rem  +  1.7590149516vw , 2.5rem );
  }
  .icon-menu {
    width: clamp( 1.875rem , 1.6990985048375rem  +  0.8795074758vw , 2.5rem );
  }
  .icon-menu {
    height: clamp( 1.3125rem , 1.1893689533875rem  +  0.6156552331vw , 1.75rem );
  }
  .header {
    padding-block: clamp( 0.9375rem , 0.77918865435625rem  +  0.7915567282vw , 1.5rem );
  }
  .header__logo img:nth-child(1) {
    width: clamp( 1.6875rem , 1.4588280562875rem  +  1.1433597186vw , 2.5rem );
  }
  .header__logo img:nth-child(2) {
    width: clamp( 2.625rem , 2.26440193491875rem  +  1.8029903254vw , 3.90625rem );
  }
  .footer__container {
    font-size: clamp( 1rem , 0.9296394019375rem  +  0.3518029903vw , 1.25rem );
  }
  .footer__list {
    gap: clamp( 1.25rem , 0.898197009675rem  +  1.7590149516vw , 2.5rem );
  }
  .footer__item {
    gap: clamp( 0.75rem , 0.53891820580625rem  +  1.055408971vw , 1.5rem );
  }
  .footer__copy {
    font-size: clamp( 1rem , 0.96481970096875rem  +  0.1759014952vw , 1.125rem );
  }
  .copy-footer__info {
    gap: clamp( 0.5rem , 0.34168865435625rem  +  0.7915567282vw , 1.0625rem );
  }
  .copy-footer__info a:nth-child(n+2)::before {
    margin-inline: clamp( 0.5rem , 0.34168865435625rem  +  0.7915567282vw , 1.0625rem );
  }
}@media (min-width: 47.99875em){
  .copy-footer__info p:first-child::after {
    content: "|";
    margin-inline-start: 1.0625rem;
    color: var(--text-primary);
  }
}@media (width > 91.0625em){
  .logo {
    column-gap: 2.5rem;
  }
  .post-scriptum {
    font-size: 1.25rem;
  }
  .menu__list {
    column-gap: 2.5rem;
  }
  .icon-menu {
    width: 2.5rem;
  }
  .icon-menu {
    height: 1.75rem;
  }
  .header {
    padding-block: 1.5rem;
  }
  .header__logo img:nth-child(1) {
    width: 2.5rem;
  }
  .header__logo img:nth-child(2) {
    width: 3.90625rem;
  }
  .footer__container {
    font-size: 1.25rem;
  }
  .footer__list {
    gap: 2.5rem;
  }
  .footer__item {
    gap: 1.5rem;
  }
  .footer__copy {
    font-size: 1.125rem;
  }
  .copy-footer__info {
    gap: 1.0625rem;
  }
  .copy-footer__info a:nth-child(n+2)::before {
    margin-inline: 1.0625rem;
  }
}@media (any-hover: hover), (pointer: fine){
  html:not([data-fls-touch]) .menu__link:hover {
    color: var(--text-dark-accent);
  }
  html:not([data-fls-touch]) .footer__link:hover {
    color: var(--text-dark-accent);
  }
  html:not([data-fls-touch]) .copy-footer__info a:hover {
    color: var(--text-dark-accent);
  }
}@media (any-hover: none){
  .icon-menu {
    cursor: default;
  }
}